# COMP2002 - Machine Learning and Optimisation Assignment
This template can be used for the weekly coding exercises, and for your coursework.

In [1]:
# Import datasets

In [2]:
import pandas as pandas

In [3]:
AffRegion1Dataset = pandas.read_csv("AlgerianFF_Region1.csv")

In [4]:
AffRegion2Dataset = pandas.read_csv("AlgerianFF_Region2.csv")

In [5]:
# Display datasets in tables

In [6]:
AffRegion1Dataset.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5

In [7]:
AffRegion2Dataset.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI
0,1,6,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2
1,2,6,2012,30,73,13,4.0,55.7,2.7,7.8,0.6,2.9,0.2
2,3,6,2012,29,80,14,2.0,48.7,2.2,7.6,0.3,2.6,0.1
3,4,6,2012,30,64,14,0.0,79.4,5.2,15.4,2.2,5.6,1.0
4,5,6,2012,32,60,14,0.2,77.1,6.0,17.6,1.8,6.5,0.9

In [8]:
# Display all column names

In [9]:
AffRegion1Dataset.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI'],
      dtype='object')

In [10]:
AffRegion2Dataset.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI'],
      dtype='object')

In [11]:
# Retrieve and seperate inputs/targets from datasets

In [12]:
inputs_DatasetRegion1 = AffRegion1Dataset[['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI']]

In [13]:
targets_DatasetRegion1 = AffRegion1Dataset[['FWI']]

In [14]:
inputs_DatasetRegion2 = AffRegion2Dataset[['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI']]

In [15]:
targets_DatasetRegion2 = AffRegion2Dataset[['FWI']]

In [16]:
# Normalisze the data set inputs

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
scaler = MinMaxScaler()
scaled_Region1 = scaler.fit_transform(inputs_DatasetRegion1)
scaled_Region2 = scaler.fit_transform(inputs_DatasetRegion2)

In [19]:
scaled_Region1

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        3.27868852e-03, 1.04000000e-01, 3.46907994e-02],
       [3.33333333e-02, 0.00000000e+00, 0.00000000e+00, ...,
        3.27868852e-03, 8.00000000e-02, 4.22322775e-02],
       [6.66666667e-02, 0.00000000e+00, 0.00000000e+00, ...,
        9.36768150e-04, 2.40000000e-02, 2.41327300e-02],
       ...,
       [9.00000000e-01, 1.00000000e+00, 0.00000000e+00, ...,
        8.89929742e-03, 1.44000000e-01, 8.59728507e-02],
       [9.33333333e-01, 1.00000000e+00, 0.00000000e+00, ...,
        3.74707260e-03, 2.40000000e-02, 2.86576169e-02],
       [9.66666667e-01, 1.00000000e+00, 0.00000000e+00, ...,
        2.81030445e-03, 1.60000000e-02, 1.96078431e-02]])

In [20]:
scaled_Region2

array([[0.        , 0.        , 0.        , ..., 0.00529412, 0.02645503,
        0.02102102],
       [0.03333333, 0.        , 0.        , ..., 0.00294118, 0.02645503,
        0.02252252],
       [0.06666667, 0.        , 0.        , ..., 0.00176471, 0.01058201,
        0.01801802],
       ...,
       [0.9       , 1.        , 0.        , ..., 0.00352941, 0.01587302,
        0.03003003],
       [0.93333333, 1.        , 0.        , ..., 0.04647059, 0.08465608,
        0.05555556],
       [0.96666667, 1.        , 0.        , ..., 0.05411765, 0.05820106,
        0.05105105]])